/* ------------- */
/* --- reset --- */
/* ------------- */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* --- reset end --- */







/* ---------------- */
/* --- standard --- */
/* ---------------- */

    body {
        font-family: Poppins, Helvetica, sans-serif;
        hyphens: auto;
    }

/* --- standard end --- */